body{
    background-color: black;
    font-family: Verdana;
    font-weight: normal;
    text-align: center;
}
h1{
    color: white;
    font-size: 50px;
}
h2{
    color: white;
    font-weight: 300;


}
p{
    color: grey;
    font-size: 21px;
    
}
a{
    color:aquamarine;
    font-size: 16px;
    
}
footer{
    text-align: right;
}
.personalGuide{
    font-weight: 300;
    font-size: 42px;
}
